
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius:0px;
    display: block;
    height: 300px;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#5fb8ee);
    border-radius: 10px;
    position: absolute;
    left: -10px;
    bottom: -10px;
    right:-10px;
    overflow:hidden ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    
    margin-inline: auto;
    color: #18050b;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);

}

.work:hover .layer{
    height: 100%;
}

.work h3{
    font-size: 20px ;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #f2f2f2;
    padding: 14px 50px;
    border-radius:6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s ;
}

.btn:hover{
    background: #4d9ed0;

}
